body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(logo/teknik\ unsur1.png);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: top center;
}

.container {
    display: flex;
    justify-content: space-between; /* Membuat kedua section berada di ujung kiri dan kanan */
    max-width: 1000px; /* Sesuaikan lebar maksimum kontainer */
    margin: 0 auto;
    padding: 20px;
}

.wrapper {
    text-align: center;
    margin-top: 0;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing;
    animation-duration: 1.5s;
    animation-timing-function: steps(30, end);
    animation-fill-mode: forwards;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

.calculator {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 45%; /* Sesuaikan lebar masing-masing section */
    text-align: center;
    margin-bottom: 20px; /* Tambahkan margin bawah agar tidak berdempetan */
    margin-right: 20px; /* Tambahkan margin kanan agar terpisah dari section sebelahnya */
}

/* Style untuk section ISBN 13 digit */
.calculator:last-child {
    margin-right: 0; /* Hapus margin kanan pada section terakhir agar tidak berdempetan */
}

.calculator h2 {
    color: #007bff;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.5em;
}

.form-group {
    margin-bottom: 20px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: center;
    padding: 2px;
}

input[type="text"] {
    width: 50%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}

.checkdigit {
    font-weight: bold;
}

.validasi {
    font-weight: bold;
}

.isbn10,
.isbn13 {
    font-weight: bold;
    color: #007bff;
}

/* Untuk layar berukuran kecil */
@media only screen and (max-width: 768px) {
    body {  
        background-size: 18%; /* Ubah ukuran background image */
    }

    .note {
        font-size: 0.8rem;
    }

    .container {
        max-width: 90%; /* Sesuaikan lebar kontainer */
        padding: 10px; /* Tambahkan padding untuk memberi ruang di sekitar kontainer */
    }

    .wrapper {
        font-size: 1.2em; /* Sesuaikan ukuran font untuk judul */
    }

    .calculator {
        width: 90%; /* Sesuaikan lebar kalkulator */
        padding: 15px; /* Tambahkan padding untuk memberi ruang di sekitar kalkulator */
    }

    input[type="text"] {
        width: 80%; /* Sesuaikan lebar input */
        margin: 0 auto; /* Pusatkan input di dalam kontainer */
    }

    button {
        width: 80%; /* Sesuaikan lebar tombol */
        margin: 10px auto; /* Pusatkan tombol di dalam kontainer dan beri ruang di atas dan bawah */
    }
}

@media only screen and (max-width: 576px) {
    body {
        background-size: 18%; /* Ubah ukuran background image */
        background-image: none; /* Hilangkan background image */
    }

    .note {
        font-size: 0.6rem;
    }

    .container {
        flex-direction: column; /* Ubah arah flex menjadi kolom */
        justify-content: center; /* Pastikan section tetap berada di tengah */
        align-items: center; /* Pusatkan section secara horizontal */
        max-width: 90%; /* Sesuaikan lebar kontainer */
        padding: 10px; /* Tambahkan padding untuk memberi ruang di sekitar kontainer */
    }

    .wrapper {
        font-size: 1em; /* Sesuaikan ukuran font untuk judul */
    }

    .calculator {
        width: 90%; /* Sesuaikan lebar kalkulator */
        padding: 15px; /* Tambahkan padding untuk memberi ruang di sekitar kalkulator */
        margin-right: 0; /* Hilangkan margin kanan */
    }

    .calculator h2 {
        font-size: 1.1rem;
    }

    input[type="text"] {
        width: 80%; /* Sesuaikan lebar input */
        margin: 0 auto; /* Pusatkan input di dalam kontainer */
    }

    button {
        width: 80%; /* Sesuaikan lebar tombol */
        margin: 10px auto; /* Pusatkan tombol di dalam kontainer dan beri ruang di atas dan bawah */
    }
}

@media only screen and (max-width: 425px) {
    body {
        background-size: 40%; /* Ubah ukuran background image */
        background-image: none; /* Hilangkan background image */
    }

    .container {
        max-width: 90%; /* Sesuaikan lebar kontainer */
        padding: 10px; /* Tambahkan padding untuk memberi ruang di sekitar kontainer */
    }

    .wrapper {
        font-size: 1em; /* Sesuaikan ukuran font untuk judul */
    }

    .calculator {
        width: 90%; /* Sesuaikan lebar kalkulator */
        padding: 15px; /* Tambahkan padding untuk memberi ruang di sekitar kalkulator */
    }

    .calculator h2 {
        font-size: 1rem;
    }

    input[type="text"] {
        width: 80%; /* Sesuaikan lebar input */
        margin: 0 auto; /* Pusatkan input di dalam kontainer */
    }

    button {
        width: 80%; /* Sesuaikan lebar tombol */
        margin: 10px auto; /* Pusatkan tombol di dalam kontainer dan beri ruang di atas dan bawah */
    }
}