body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

header {
    background-color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
    margin-right: 2rem;
}

h1 {
    margin: 0;
}

.span1 {
    color: rgba(244, 194, 79, 0.922);
}

.span2 {
    color: #fff;
}

.main {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

.calculator h2 {
    color: #007bff;
    margin-bottom: 1.5rem;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}

#result {
    margin-top: 2rem;
}